@model MyBookingsViewModel

<h2 class="text-white py-3"></h2>
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" /> 
@if (Model.Bookings.Any()) {
<div class="row">
  <div class="col-12 py-5">
    <br/>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th>@_localization.Getkey("From").Value</th>
          <th>@_localization.Getkey("To").Value</th>
          <th>@_localization.Getkey("Departure Time").Value</th>
          <th>@_localization.Getkey("Departure Date").Value</th>
          <th>@_localization.Getkey("Return Date").Value</th>
          <th>@_localization.Getkey("Seat Number").Value</th>
        </tr>
      </thead>

      <tbody>
        @foreach(var booking in Model.Bookings) {
        <tr>
          <td>@booking.Flight.From</td>
          <td>@booking.Flight.To</td>
          <td>@booking.Flight.Time</td>
          <td>@booking.Flight.Depart</td>
          <td>@booking.Flight.Return</td>
          <td> @_localization.Getkey("Seat").Value @booking.Seat.SeatNumber.Substring(5)</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

} else {
<p>No bookings found.</p>
}